<% layout('layouts/boilerplate') -%> <!-- ejs-mate syntax -->

<div class="row">
    <div class="col-lg-6">
        <div class="card" style="width:26rem;">
            <img src="<%=findproduct.img%>" class="card-img-top" alt="img not found">
            <div class="card-body">
              <h5 class="card-title"><%=findproduct.name%></h5>
              <p class="card-text"><%=findproduct.desc%></p>
              <p class="card-text">₹<%=findproduct.price%></p>
              <a href="#" class="btn btn-success">Buy</a>
              <a href="#" class="btn btn-secondary">Add Cart</a>
              <a href="/products/<%=findproduct._id%>/edit" class="btn btn-info">Edit</a>
              <form action="/products/<%=findproduct._id%>?_method=delete" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
    </div>
    <div class="col-lg-6">
        <h1 class="display-4">Leave your review</h1>
    </div>
</div>